@using Loja.Models;
@using Newtonsoft.Json;
@{
    ViewBag.Title = "GetCartingShop";
}
<h3>Carrinho de Compras</h3>
<div class="panel">
    <div class="panel-heading">
        <div class="panel-collapse">
            <div class="row">
                <div class="col-md-3">
                    <h4>Tem no seu carrinho:</h4>
                </div>
                <div class="col-md-offset-2 col-md-4">
                    <div class="h4">
                        Limpar Carrinho
                        <a class="btn btn-danger" href="~/Shop/CleanShoppingCart"><span class="fa fa-trash"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @{
                if (ViewBag.Produtos != null)
                {
                    foreach (Produto produto in ViewBag.Produtos)
                    {
                        <div class="col-md-8">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="list-group">
                                            <div class="list-group-item">
                                                <div class="list-group-item-heading"><img alt="@produto.Descricao" src="@produto.Url" height="100" width="80" /></div>
                                                <a href="@Url.Action("RemoveShoppingProduct","Shop", new { id = produto.Id })" class="remove"><i class="fa fa-minus-square" aria-hidden="true"></i></a>
                                                <div class="list-group-item-info">@produto.Nome</div>
                                                <div id="productPreco" class="list-group-item-success">@produto.Preco</div>
                                                <div class="list-group-item list-group-item-info">@produto.Quantidade</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="list-group-item">valor do campo 'Preco unitario' * valor do campo 'Quantidade'</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
        <div class="col-md-offset-1 col-md-1">
            <div class="panel-body">
                <a href="@Url.Action("AddShoppingCart","Shop")" class="btn btn-block btn-default shopCart">Comprar</a>
            </div>
        </div>
    </div>
    <div class="alert">
        <small class="alert-warning" style="color:red;">@ViewBag.Message</small>
    </div>
</div>

@section scripts{
    <script src="~/Content/Scripts/jquery-3.3.1.js"></script>
    <script>
        //criar ajax para enviar preco total para acao PayShoppingCart
        $("#productShop").submit(function () {
            //ir buscar elemento que dispoe o valor total
            $.ajax({
                data: "productName=" + nomeProduto + "&quantity=" + quantidade,
                type: "POST",
                url: "http://localhost:54841/Shop/Index"
            });
        });
    </script>
    <script>
        $("button").on("click", function () {
            $("#productFullPrice").html(function () {
                var quantidade = $("#num").val();
                var precoUnitario = $("#productPreco").val();
                var precoTotal = quantidade * precoUnitario;
                return precoTotal;
            });
        });
    </script>
    <script>
        $(".shopCart").on("click", function () {
                alert("Carregaste no butao");
                var dat = JSON.stringify(@ViewBag.Produtos)
                console.log(dat);
                $.ajax({
                    url: "http://localhost:54841/Shop/AddShoppingCart/",
                    type: "GET",
                    traditional: true,
                    data: dat,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function () {
                        alert("Carrinho enviado");
                    }
                })
        })
    </script>
}



