@model Loja.Models.Produto
@using Loja.Models
@{
    ViewBag.Title = "Index";
}
<!--Usar sections!!-->
<style>
    .inputbutton {
        width: 120px;
        height: 45px;
        background: white;
        text-align: center;
        border: 3px solid grey;
    }

    .regbutton {
        width: 28px;
        height: 45px;
        background: white;
        text-align: center;
        border: 1px solid lightgrey;
        margin: -3px;
    }

    .minus:hover {
        background: antiquewhite
    }

    .plus:hover {
        background: antiquewhite
    }

    .inputbutton:hover {
        background: antiquewhite
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-6">
            <h2>@Model.Nome</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 " style="text-align:center">
            <img class="imgbig" src="@Model.Url" style="width:250px" />
        </div>
        <div class="col-md-offset-2 col-md-6" style="margin-top: 40px;">
            <div class="panel" style="background-color: whitesmoke">
                <div class="panel-body">
                    <div class="panel-default">
                        <h4>Descrição</h4>
                        <h6> @Model.Descricao</h6>
                        <h3>@Model.Preco€</h3>
                        <div class="panel-footer">
                            <form action="Shop/Index" method="post" id="productShop" name="productShop">
                                <input id="productName" name="productName" class="regbutton" style="width: 80px; display:none;" type="text" value="@Model.Nome-@Model.Seccao-@Model.Tipo" />
                                <input id="num" name="quantity" class="regbutton" style="width: 60px" type="number" width="200" maxlength="7" />
                                <input id="add" class="inputbutton" type="submit" value="Adicionar" style="margin-left: 20px;" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="text-align:center">
            <a data-nsda="blaa"><img src="@Model.Url" style="width:50px" /></a>
            <a><img src="@Model.Url" style="width:50px" /></a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        @{
            if(ViewBag.Message != null)
            {
                <small class="warning" style="color:red;">@ViewBag.Message</small>
            }
        }
    </div>
</div>
@section scripts
    {
    <script src="~/Content/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        $("#min").click(function () {
            var contador = $("#num").attr('value');
            var newContador = contador - 1;
            var val = document.createAttribute('value');
            val.value = newContador;
            $("#num").attr('value', val.value);
        });
        $("#pl").click(function () {
            var contador = $("#num").attr('value');
            var newContador = +contador + +1;
            $("#num").removeAttr('value');
            var val = document.createAttribute('value');
            val.value = newContador;
            $("#num").attr('value', val.value);
        });
    </script>
    <script>
        $("a").click(function (event) {
            //Apagar foto em cima
            $(".imgbig").html("");
            //Buscar outra foto
            var img = $(event.relatedTarget).children();
            console.log(img.attr('src'));
            //por foto no lugar da outra

        })
    </script>
    <script>
        $("#productShop").submit(function () {
            $.post("http://localhost:54841/Shop/Index", $("#productShop").serialize() );
        });
    </script>
}
