@{
    ViewBag.Title = "Tabelas";
}


<h3>Tabelas</h3>


<!--TABELA DOS PRODUTOS-->
<div class="col-md-12">
    <div class="card card-plain">
        <div class="card-header card-header-primary">
            <div class="row">
                <h4 class="card-title mt-0 col-md-3"> Inventário</h4>
                <div class="offset-md-8">
                    <a style="border-radius: 40%; text-decoration:none; cursor:pointer;" class="fa fa-plus-circle fa-2x" data-toggle="modal" data-target="#addProd"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Preco</th>
                            <th scope="col">Descrição</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (ViewBag.AllProducts != null)
                            {
                                foreach (var produto in ViewBag.AllProducts)
                                {
                                    <tr>
                                        <td scope="row">@produto.Nome</td>
                                        <td>@produto.Preco</td>
                                        <td>@produto.Descricao</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>Não existem produtos</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--TABELA DOS PRODUTOS-->
<!--TABELA DOS CARRINHOS-->
<div class="col-md-12">
    <div class="card card-plain">
        <div class="card-header card-header-primary">
            <h4 class="card-title mt-0"> Lista de Carrinhos</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Preco</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Secção</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Imagem</th>
                            <th scope="col" style="text-align:center;">Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (ViewBag.AllCarts != null)
                            {
                                foreach (var cart in ViewBag.AllCarts)
                                {
                                    <tr>
                                        <td scope="row">@cart.Nome</td>
                                        <td class="text-center">@cart.Preco</td>
                                        <td>@cart.Descricao</td>
                                        <td class="text-center">@cart.Quantidade</td>
                                        <td>@cart.Seccao</td>
                                        <td>@cart.Tipo</td>
                                        <td><a><img height="10" width="10" src="@cart.Url" /></a></td>
                                        <td>@DateTime.Now</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>Não existem carrinho</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--TABELA DOS CARRINHOS-->
<!--TABELA DOS USERS-->
<div class="col-md-12">
    <div class="card card-plain">
        <div class="card-header card-header-primary">
            <h4 class="card-title mt-0"> Lista de Utilizadores</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align:center">Nome</th>
                            <th scope="col" style="text-align:center">Apelido</th>
                            <th scope="col" style="text-align:center">Email</th>
                            <th scope="col" style="text-align:center">Logins</th>
                            <th scope="col" style="text-align:center">Online</th>
                            <th scope="col" style="text-align:center">Carrinhos?</th>
                            <th scope="col" style="text-align:center;">Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (ViewBag.AllUsers != null)
                            {
                                foreach (var user in ViewBag.AllUsers)
                                {
                                    <tr>
                                        <td scope="row" style="text-align:center">@user.Nome</td>
                                        <td style="text-align:center">@user.Apelido</td>
                                        <td style="text-align:center">@user.Email</td>
                                        <td style="text-align:center">@user.QuantLogins</td>
                                        <td style="text-align:center">@user.Autenticado</td>
                                        <td style="text-align:center">@DateTime.Now</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>Não existem utlizadores</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--TABELA DOS USERS-->
<!--MODAL-->
<div id="addProd" class="modal" tabindex="-1" role="dialog" style="height: auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="offset-md-3 col-md-5 text-center text-capitalize">
                    <h5 class="modal-title text-center">Adicionar Produto</h5>
                </div>
                <div class="offset-md-3 col-md-1">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("adicionarProduto", "Dashboard")" method="post">
                    <div class="form-group">
                        <label for="nome">Id do Produto:</label>
                        <input type="text" class="form-control" id="Id" name="Id" aria-describedby="id" placeholder="Id: Ainda a designar">
                    </div>
                    <div class="form-group">
                        <label for="nome">Nome do Produto:</label>
                        <input type="text" class="form-control" id="Nome" name="Nome" aria-describedby="nome" placeholder="Nome:">
                    </div>
                    <div class="form-group">
                        <label for="seccao">Secção: </label><!--Definir melhor-->
                        <select id="seccao" name="Seccao" class="form-control">
                            <option>----</option>
                            <option value="Bijutaria">Bijutaria</option>
                            <option value="Diversos">Diversos</option>
                            <option value="Religiosos">Religiosos</option>
                            <option value="Lembranças">Lembranças</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tipo">Tipo: </label><!--Definir melhor-->
                        <select class="form-control" id="tipo" name="Tipo">
                            <option>----</option>
                            <option class="bij" value="Pulseiras">Pulseiras</option>
                            <option class="bij" value="Jóias">Jóias</option>
                            <option class="div" value="Coleiras">Coleiras</option>
                            <option class="div" value="Relógios">Relógios</option>
                            <option class="div" value="Malas">Malas</option>
                            <option class="rel" value="Terços">Terços</option>
                            <option class="lem" value="Postais">Postais</option>
                        </select>
                        <a class="btn btn-primary" data-target="#addTipo" data-toggle="modal">Criar Tipo</a>
                    </div>
                    <div class="form-group">
                        <label for="descricao">Descrição</label>
                        <input name="Descricao" type="text" id="Descricao" placeholder="Descrição: " style="font-size: 8px;" />
                    </div>
                    <div class="form-group">
                        <label for="preco">Preço</label>
                        <input type="number" class="form-control" name="Preco" id="Preco" placeholder="Preço: " />
                    </div>
                    <div class="form-group">
                        <label for="file">Foto do Produto: </label>
                        @*<button type="button" class="form-control btn btn-primary" data-target="#addFicheiro" data-toggle="modal" />*@
                        <input id="image" name="Imagem" type="file" class="custom-file-input" style=" position:relative; z-index:2; opacity:1;" />
                        @*<input type="text" class="form-control" id="imagepath" name="PathImagem" />
                        <input type="text" class="form-control" id="imagename" name="NomeImagem" />*@
                    </div>
                    <button type="submit" class="btn btn-primary offset-md-4" onclick="readFile()">Guardar</button>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<!--END MODAL-->
<!--MODAL TIPO-->
<div class="modal fade" id="addTipo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar Tipo de Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <!--Adicionar action para adicionar tipo-->
                    <div class="form-group">
                        <label for="seccaoAdd">Secção: </label><!--Definir melhor-->
                        <select id="seccaoAdd" name="Seccao" class="form-control form-check">
                            <option>----</option>
                            <option value="Bijutaria">Bijutaria</option>
                            <option value="Diversos">Diversos</option>
                            <option value="Religiosos">Religiosos</option>
                            <option value="Lembranças">Lembranças</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tipoAdd">Tipo: </label>
                        <input type="text" class="form-control" id="tipoAdd" name="Tipo" placeholder="Escreva o tipo" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!--END OF MODAL TIPO-->
<!--MODAL FICHEIRO-->
<div class="modal fade" id="addFicheiro" tabindex="-1" role="dialog" aria-labelledby="modalFicheiro" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalFicheiro">Adicionar Imagem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="img">Imagem: </label>
                    <input id="image" type="file" class="custom-file-input" style=" position:relative; z-index:2; opacity:1;" />
                </div>
                <div class="form-group">
                    <button onclick="readFile(this)" data-dismiss="modal">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END OF MODAL FICHEIRO-->
<!--WARNING MESSAGE-->
@if (ViewBag.Message != null)
{
    <div class="text-warning">
        <small class="warning">@ViewBag.Message</small>
    </div>
}
<!--WARNING MESSAGE-->
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $("select[id='seccao']").on('input', function () {
        if ($(this).val() == "" || $(this).val() == undefined) {
            $(".bij").attr("hidden", "hidden");
            $(".div").attr("hidden", "hidden");
            $(".rel").attr("hidden", "hidden");
            $(".lem").attr("hidden", "hidden");
        }
        if ($(this).val() == 'Bijutaria') {
            $(".bij").removeAttr("hidden");
            $(".div").attr("hidden", "hidden");
            $(".rel").attr("hidden", "hidden");
            $(".lem").attr("hidden", "hidden");
        }
        if ($(this).val() == 'Diversos') {
            $(".div").removeAttr("hidden");
            $(".bij").attr("hidden", "hidden");
            $(".rel").attr("hidden", "hidden");
            $(".lem").attr("hidden", "hidden");
        }
        if ($(this).val() == 'Religiosos') {
            $(".rel").removeAttr("hidden");
            $(".bij").attr("hidden", "hidden");
            $(".div").attr("hidden", "hidden");
            $(".lem").attr("hidden", "hidden");
        }
        if ($(this).val() == 'Lembranças') {
            $(".lem").removeAttr("hidden");
            $(".bij").attr("hidden", "hidden");
            $(".rel").attr("hidden", "hidden");
            $(".div").attr("hidden", "hidden");
        }
    })
</script>
<script>
    function readFile() {
        var image = document.getElementById("image");
        var path = image.value;

        var file = image.files[0];
        var filename = file.name;

        //document.getElementById("imagepath").setAttribute("value", path);
        //document.getElementById("imagename").setAttribute("value", filename);
        return false
    }
</script>


