@{
    ViewBag.Title = "Tabelas";
}

<h3>Tabelas</h3>
<span class="badge badge-primary col-md-12 text-center">Inventário de Produtos</span>
<table class="table table-hover">
    <!--No futuro, 'Tabela dos {Nome da tabela por ViewBag}-->
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Preco</th>
            <th scope="col">Descrição</th>
        </tr>
    </thead>
    <tbody>
        <!--Chamar servico e export produtos que existem na bd-->
        @{
            if (ViewBag.AllProducts != null)
            {
                foreach (var produto in ViewBag.AllProducts)
                {
                    <tr>
                        <td scope="row">@produto.Nome</td>
                        <td>@produto.Preco</td>
                        <td>@produto.Descricao</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>Não existem produtos na tabela Carrinho</td>
                </tr>
            }
        }
    </tbody>
</table>
<span class="badge badge-primary col-md-12 text-center">Carrinhos de Compra</span>
<table class="table table-hover">
    <!--No futuro, 'Tabela dos {Nome da tabela por ViewBag}-->
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Preco</th>
            <th scope="col">Descrição</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Secção</th>
            <th scope="col">Tipo</th>
            <th scope="col">Imagem</th>
            <th scope="col" style="text-align:center;">Data</th>
        </tr>
    </thead>
    <tbody>
        <!--Chamar servico e export produtos que existem na bd-->
        @{
            if (ViewBag.AllCarts != null)
            {
                foreach (var cart in ViewBag.AllCarts)
                {
                    <tr>
                        <td scope="row">@cart.Nome</td>
                        <td class="text-center">@cart.Preco</td>
                        <td>@cart.Descricao</td>
                        <td class="text-center">@cart.Quantidade</td>
                        <td>@cart.Seccao</td>
                        <td>@cart.Tipo</td>
                        <td><a><img height="10" width="10" src="@cart.Url" /></a></td>
                        <td>@DateTime.Now</td>Hora errada
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>Não existem produtos na tabela Carrinho</td>
                </tr>
            }
        }
    </tbody>
</table>
<span class="badge badge-primary col-md-12 text-center">Utilizadores</span>
<table class="table table-hover">
    <!--No futuro, 'Tabela dos {Nome da tabela por ViewBag}-->
    <thead>
        <tr>
            <th scope="col" style="text-align:center">Nome</th>
            <th scope="col" style="text-align:center">Apelido</th>
            <th scope="col" style="text-align:center">Email</th>
            <th scope="col" style="text-align:center">Login's</th>
            <th scope="col" style="text-align:center">Online</th>
            <th scope="col" style="text-align:center">Carrinhos?</th>
            <th scope="col" style="text-align:center;">Data</th>
        </tr>
    </thead>
    <tbody>
        <!--Chamar servico e export produtos que existem na bd-->   
        @{
            if (ViewBag.AllUsers != null)
            {
                foreach (var user in ViewBag.AllUsers)
                {
                <tr>
                    <td scope="row" style="text-align:center">@user.Nome</td>
                    <td style="text-align:center">@user.Apelido</td>
                    <td style="text-align:center">@user.Email</td>
                    <td style="text-align:center">@user.QuantLogins</td>
                    <td style="text-align:center">@user.Autenticado</td>
                    <td style="text-align:center">@DateTime.Now</td>Hora errada
                </tr>
                }
            }
            else
            {
                <tr>
                    <td>Não existem utlizadores na tabela Users</td>
                </tr>
            }
        }
    </tbody>
</table>



